* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    color: #f5fafd;
    z-index: 0;
}

.sidebar-top,
.sidebar-middle,
.sidebar-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar a {
    text-decoration: none;
    color: #f5fafd;
}

.header {
    grid-column: 2 / 3;
    box-shadow: 0 8px 8px -6px #ccd1d8;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #fff;
    z-index: 1;
}

.header-left {
    display: grid;
}

.user-greeting {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.header-right {
    display: grid;
}

.profile-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    padding: 30px;
}

.main-content h2 {
    margin-bottom: 5px;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.projects .card {
    background-color: #fff;
    padding: 15px;
    box-shadow: 4px 4px 4px #ccd1d8;
    border-left: 10px #f0b429 solid;
    border-radius: 10px;
    height: 250px;
}

.side-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements .card,
.trending .card {
    background-color: #fff;
    box-shadow: 4px 4px 4px #ccd1d8;
    height: calc(250px * 1.5);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.announcement-info {
    padding: 15px;
    overflow: hidden;
    height: 100%;
}

.announcement-info p {
    margin: 5px 0px 15px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement-info:last-child p {
    margin-bottom: 0;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
